@page "/"

<PageTitle>Home</PageTitle>

<h1>Hej medlem</h1>



<img style="margin:5% 37% 0%" src="hearts.jpg" />
<div style="text-align:center;margin-top:30px">Velkommen til Your Wonderful Partner. Du kan oprette en ny bruger ved at klikke på hjerterne.</div>
